@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 10 5% 95%;;
    --foreground:222.2 80% 15%;;

    --card: 0 0% 98%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 98%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;

    --purple: 222.2 84% 4.9%;
    --purple-contrast: 210 40% 98%;
  }
 
  .dark {
    --background: 222.2 84% 7.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --purple: 222.2 84% 4.9%;
    --purple-contrast: 210 40% 98%;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }



     .CollapsibleContent[data-state="open"] {
       animation: slideDown 400ms ease-out;
     }
  
     .CollapsibleContent[data-state="closed"] {
       animation: slideUp 400ms ease-out;
     }
  
     @keyframes slideDown {
       from {
         opacity: 10%;
         transform: translateY(-1rem);
       }
     }
  
     @keyframes slideUp {
       to {
         opacity: 10%;
         transform: translateY(-1rem);
       }
     }

   

}
html {
  font-size: 14px;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: 'Inter', sans-serif;

}
 

.img-class {
  border-radius: 50%;
}

.animate-gradient {
  background-size: 300%;
  -webkit-animation: animatedgradient 6s ease infinite alternate;
  -moz-animation: animatedgradient 6s ease infinite alternate;
  animation: animatedgradient 6s ease infinite alternate;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

 a {
   color: lightblue;
    text-decoration: underline;
    /* Add an icon link at the end */
   
   cursor: pointer;

   &:hover {
     color: var(--purple-contrast);
   }
 }

.tiptap h1 {
  @apply text-4xl font-bold;
}

.tiptap h2 {
  @apply text-3xl font-bold;
}

.tiptap h3 {
  @apply text-2xl font-bold;
}

.tiptap h4 {
  @apply text-xl font-bold;
}

.tiptap h5 {
  @apply text-base font-bold;
}

.tiptap h6 {
  @apply text-sm font-bold;
}


.proseMirror {
  @apply bg-gray-100 text-gray-800 p-2 rounded;
}

.tiptap button {
  @apply bg-gray-700 text-gray-500 font-bold py-2 px-4 rounded m-1;
}


.tiptap  {
  @apply  p-2.5 w-full text-sm text-gray-900  border border-gray-300  dark:border-slate-700  dark:text-white ;
}

.is-active {
  @apply  text-red-500 font-bold rounded;
}

/* .tiptap {
  resize: vertical;
  transition: all 2s, height 0s;
} */
/* 
.tiptap .ProseMirror {
  height: 400px;
} */

.tiptap ul {
  list-style-type: circle;
}

.tiptap ol {
  list-style-type: decimal;
}

.tiptap ul,
.tiptap ol {
  padding-left: 2em;
}

.tiptap li {
  margin-top: 0.5em;
}


pre {
  background: var(--black);
  border-radius: 0.5rem;
  color: var(--white);
  font-family: 'JetBrainsMono', monospace;
  margin: 1.5rem 0;
  padding: 0.75rem 1rem;

  code {
    background: none;
    color: inherit;
    font-size: 0.8rem;
    padding: 0;
  }

  /* Code styling */
  .hljs-comment,
  .hljs-quote {
    color: #616161;
  }

  .hljs-variable,
  .hljs-template-variable,
  .hljs-attribute,
  .hljs-tag,
  .hljs-name,
  .hljs-regexp,
  .hljs-link,
  .hljs-name,
  .hljs-selector-id,
  .hljs-selector-class {
    color: #f98181;
  }

  .hljs-number,
  .hljs-meta,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-literal,
  .hljs-type,
  .hljs-params {
    color: #fbbc88;
  }

  .hljs-string,
  .hljs-symbol,
  .hljs-bullet {
    color: #FF8A08;
  }

  .hljs-title,
  .hljs-section {
    color: #2C7865;
    font-weight: 700;
  }

  .hljs-keyword,
  .hljs-selector-tag {
    color: #B51B75;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: 700;
  }
}